
<div class="mainheader">
    <h1>Gói Dịch Vụ</h1>
</div>
<div class="container">

    <div class="package">
        <div class="header">
            <h2>Basic<br>720p</h2>
        </div>
        <p class="price">108.000 ₫</p>
        <p>Chất lượng hình và âm: Tốt</p>
        <p>Độ phân giải: 720p (HD)</p>
        <p>Thiết bị hỗ trợ: TV, máy tính, điện thoại di động</p>
        <p>Số thiết bị xem cùng lúc: 1</p>
        <p>Số thiết bị tải xuống: 1</p>
    </div>

    <div class="package">
        <div class="header">
            <h2>Standard<br>1080p</h2>
        </div>
        <p class="price">220.000 ₫</p>
        <p>Chất lượng hình và âm: Tuyệt vời</p>
        <p>Độ phân giải: 1080p (Full HD)</p>
        <p>Thiết bị hỗ trợ: TV, máy tính, điện thoại di động</p>
        <p>Số thiết bị xem cùng lúc: 2</p>
        <p>Số thiết bị tải xuống: 2</p>
    </div>
    
    <div class="package">
        <div class="header">
            <h2>Cao cấp<br>4K + HDR</h2>
        </div>
        <p class="price">260.000 ₫</p>
        <p>Chất lượng hình và âm: Tốt nhất</p>
        <p>Độ phân giải: 4K (Ultra HD) + HDR</p>
        <p>Âm thanh không gian: Đã bao gồm</p>
        <p>Thiết bị hỗ trợ: TV, máy tính, điện thoại di động</p>
        <p>Số thiết bị xem cùng lúc: 4</p>
        <p>Số thiết bị tải xuống: 6</p>
    </div>
</div>
