<div class="container">
    <h1>Customer Service</h1>
    <h2>FAQs</h2>
    
    <h3>About Account:</h3>
    <h4>How to link email/phone number?</h4>
    <p>Hello, to secure your account, you should link your regular email or mobile phone number. You can link your email/phone number in the following ways:</p>
    <ol>
        <li>SeeVie Mobile App: Open the SeeVie Mobile App, log into your account, and click on [My] - [Settings] - [Account and Security] to manage your email and mobile phone number;</li>
        <li>SeeVie Website: Access from your computer, log into your SeeVie account, and click on [Profile Picture] - [Personal Settings] to manage your email and mobile phone number.</li>
    </ol>
    <p>* Note: If you need to use the linked mobile phone/email + password to log in, you can manage your account password as follows: Click on SeeVie and log into your account - click on [Settings] - Select [Account and Security] - Set mobile number/Email - [Manage Password].</p>

    <h4>On which devices can SeeVie be used?</h4>
    <p>In addition to the website, you can use SeeVie's services on mobile phones, TVs, and iPads. We are continuing to develop support for more platforms!</p>
    <ul>
        <li><strong>Phone:</strong> You can search and download the mobile app in the app store/Google Play to use.</li>
        <li><strong>TV:</strong> You can directly click on the SeeVie logo on the TV or search and download the SeeVie TV version in the app store to use (If the TV cannot find the iQIYI app, it may be because we do not yet support your TV/TV Box temporarily).</li>
        <li><strong>iPad:</strong> You can search for and download the SeeVie app in the app store, the same version as the mobile app.</li>
    </ul>

    <h4>How to delete an account?</h4>
    <p>* Please note that once an account is deleted, your personal information, VIP privileges, etc., will be immediately canceled and cannot be recovered after deletion. If you temporarily do not need to use our application, you should cancel the service renewal instead of deleting your account.</p>
    <p>If you need to delete your account, you can do it yourself in the following ways:</p>
    <ul>
        <li>PC Website: [Profile Picture] - [Personal Settings] - [Delete Account]</li>
        <li>Mobile App: [My] - [Settings] - [Account and Security] - [Delete Account]</li>
    </ul>
    <p>If you have any questions, you should send [Feedback] in the app, and we will respond to you via email.</p>

    <h3>About Subtitles:</h3>
    <h4>How to change the subtitles of a movie?</h4>
    <p>You can switch to your desired subtitle language in [Subtitles] at the bottom of the full-screen video playback page.</p>
    <p>If the corresponding subtitle option is not available, please refer to the subtitle support section in the FAQ - [Why are the corresponding subtitles not displayed even though I selected?] and [Why do I not have the subtitles I need?]</p>

    <h4>Why do some variety shows not have subtitles?</h4>
    <p>Due to some variety shows not being able to use AI translation, subtitles cannot be provided temporarily. We are working to resolve this issue. Please send feedback in the app, providing the name of the variety show that does not have subtitles, and we will try to resolve it for you as soon as possible.</p>

    <h4>Why don't I have the subtitles I need?</h4>
    <p>You can switch to your desired subtitle language in [Subtitles] at the bottom of the full-screen video playback page. If the corresponding subtitle option is not available, it may be that the subtitles are being updated, or the video you are watching does not support subtitles in the language you need. You can submit your request through feedback. We highly value your opinions.</p>

    <h3>About Downloads:</h3>
    <h4>I cannot play the downloaded video, what should I do?</h4>
    <ol>
        <li><strong>Playback error:</strong> Please restart your device, clear the video saved in the cache, and re-download in a WIFI environment. If you still encounter issues, please send feedback in the app and provide the name of the movie, episode number, and a screenshot of the error video;</li>
        <li><strong>VIP membership expired:</strong> Due to copyright protection policies, you can only watch VIP videos downloaded with a VIP account. If your VIP has expired, you will not be able to watch the VIP videos you have downloaded.</li>
    </ol>

    <h4>Why can't I download the movie?</h4>
    <ol>
        <li><strong>Copyright reasons:</strong> Some videos do not support downloads due to copyright issues; you should use online viewing;</li>
        <li><strong>VIP video:</strong> Some videos are restricted by copyright and can only be downloaded by Standard/Premium VIPs; you should consider subscribing to VIP;</li>
        <li><strong>1080P resolution:</strong> Only Standard/Premium VIPs can download 1080P resolution; you should subscribe to VIP.</li>
        <li><strong>TV app / PC website:</strong> Offline video downloads are temporarily not supported; please use the online viewing function.</li>
    </ol>

    <h4>Why do movies disappear after downloading?</h4>
    <p>Please check if you have any antivirus (clean-up) software installed on your phone. These programs may have deleted your downloaded files. Please clear the cache and try downloading again.</p>

    <h4>What to do if the download speed is slow?</h4>
    <p>The current network affects the download speed; you should download when ensuring a good network environment. You can also try:</p>
    <ul>
        <li>Change your network</li>
        <li>Clear current download resources and re-download</li>
        <li>Clear the cache and try downloading again</li>
    </ul>

    <h3>About Membership Rights and Benefits:</h3>
    <h4>How is the VIP duration calculated?</h4>
    <p>If you choose not to auto-renew, the iQIYI VIP duration is calculated based on the actual month/quarter/year.</p>
    <p>If you choose to auto-renew, the iQIYI VIP duration will automatically renew and be charged monthly/quarterly/yearly accordingly, and the valid VIP days will correspond to the paid cycle.</p>

    <h4>Why did my VIP expire?</h4>
    <p>Please check if you have encountered the following situations:</p>
    <ol>
        <li>The VIP benefit period expired normally; please check the type of VIP package you purchased. If you purchased a non-auto-renewal VIP package, your VIP validity will not automatically renew when it expires.</li>
        <li>VIP expired due to your refund request; please check your transaction details. If you request a refund for a previous order, your VIP status will change to expired.</li>
        <li>You should verify whether you have logged in with the correct account that purchased VIP;</li>
        <li>Slow network leads to the VIP account update time being delayed; it is recommended to try logging in again later;</li>
    </ol>

    <h4>I am a VIP member, but why do I still see ads?</h4>
    <p>Ad skipping is one of the privileges for our Standard/Premium VIP members. Please confirm whether your membership status is valid.</p>
    <p>Please differentiate between different types of ads. Membership benefits include skipping ads that affect playback progress; if the ad does not affect the playback progress, you can continue watching the video normally. Pop-up ads when the video is paused will not affect your viewing process. You can click the small X in the upper right corner of the ad to close it. We apologize for the inconvenience.</p>

    <h3>About Payment:</h3>
    <h4>What payment methods are available to purchase VIP?</h4>
    <p>Currently, SeeVie supports payment by international payment cards / Google / Apple, and more payment methods are being developed, so please stay tuned!</p>
    <ol>
        <li>The mobile app may support payments via Google (Android)/Apple (iOS) internationally, and specific payment methods supported by Google/Apple will be determined by the Google/Apple Store;</li>
        <li>The PC website may support payment by international payment cards. For specific supported payment methods, please refer to the real-time purchasing interface in your area.</li>
        <li>The TV app: If you access through Apple TV, please follow the displayed steps and use your logged-in Apple account to make a purchase. If you access through Android TV, please follow the instructions and use your logged-in Google account to make a purchase. If you visit us via Roku TV, Roku Pay is the only payment method on Roku TV.</li>
    </ol>

    <h4>How to purchase VIP?</h4>
    <p>Mobile App:</p>
    <p>There are two ways to access the membership page:</p>
    <p>Click on the yellow [VIP] icon on the top navigation bar, or you can view membership benefits in the VIP column on the homepage and click [Join Now] to select the VIP type you need.</p>
    <p>The mobile app may support payments via Google (Android)/Apple (iOS) internationally, and specific payment methods supported by Google/Apple will be determined by the Google/Apple Store.</p>

    <p>PC Website:</p>
    <p>Please click the yellow [VIP] icon in the top right navigation bar and follow the pop-up prompts to complete the purchase transaction. The PC website may support payment by international payment cards. For specific supported payment methods, please refer to the real-time purchasing interface in your area.</p>

    <p>TV App:</p>
    <p>If you access through Apple TV and Android TV, use the remote control to pull out the sidebar and click on [My Account] -- [My VIP]. Here you can choose the type of VIP. Please follow the instructions and use your logged-in Apple/Google account to make a purchase.</p>
</div>